#Data Types and Structures Questions

1. What are data structures, and why are they important?

  -> Data structures are organized formats to store and manage data efficiently.
They enable easy data access, modification, and processing.
Examples include lists, dictionaries, tuples, and sets in Python.
Importance :
    - Efficient data storage.
    - Faster data manipulation and retrieval.
    - Essential for algorithm design and optimization.
2. Explain the difference between mutable and immutable data types with examples.

   ->
-Mutable data types can be changed after creation. Example: lists, dictionaries

    my_list = [1, 2, 3]

    my_list.append(4)  # Modifies the list.

-immutable data types cannot be changed after creation. Example: tuples, strings.


    my_tuple = (1, 2, 3)
    my_tuple[0] = 4  # Raises an error.
3. What are the main differences between lists and tuples in Python?
   
   ->
    - List is mutable,
    - list is also slower,
    -  syntax of list - [1,2,3]
    - used for dynamic data

   where as
   - Tuple is immutable ,
   - tuple is faster ,
   -  syntax of tuple - (1,2,3)
   - used for fixed data
  
4. Describe how dictionaries store data.

   -> Dictionaries store data as key-value pairs using a hash table. Keys are hashed to find a location in memory, allowing efficient data retrieval.

5. Why might you use a set instead of a list in Python?
   
   -> Sets are useful when:

  - Duplicates need to be eliminated.
  - Membership tests are required (faster than lists)

    example :
         my_set = {1, 2, 3}
         print(2 in my_set)

In [2]:
# 6. What is a string in Python, and how is it different from a list?
'''
String: A sequence of characters enclosed in quotes (" " or ' '), immutable.
List: A collection of elements (of any data type), mutable.

example: my_string = "hello"  # Immutable
         my_list = ['h', 'e', 'l', 'l', 'o']  # Mutable

'''

'\nString: A sequence of characters enclosed in quotes (" " or \' \'), immutable.\nList: A collection of elements (of any data type), mutable.\n\nexample: my_string = "hello"  # Immutable\n         my_list = [\'h\', \'e\', \'l\', \'l\', \'o\']  # Mutable\n\n'

In [ ]:
# 7. How do tuples ensure data integrity in Python?
'''
Tuples are immutable, preventing accidental changes to data.
This ensures data consistency, especially when the data represents fixed values like coordinates.
'''

In [ ]:
# 8. What is a hash table, and how does it relate to dictionaries in Python?
'''
A hash table is a data structure that uses a hash function to map keys to values.
Python dictionaries internally use hash tables to allow O(1) average-time complexity for lookups.
'''

In [ ]:
#9. Can lists contain different data types in Python?
'''
Yes, Python lists can store elements of different data types:
mixed_list = [1, "string", 3.14, [1, 2, 3]]

'''

In [ ]:
# 10. Explain why strings are immutable in Python.
'''
Strings are immutable to:
 -Enhance performance and memory efficiency (reuse strings).
-Prevent accidental changes (data integrity).

'''

In [ ]:
# 11. What advantages do dictionaries offer over lists for certain tasks?
'''
Dictionaries allow:

 -Fast lookups (O(1) average time complexity).
 -Key-based access, making them ideal for mappings.
'''

In [ ]:
# 12. How do sets handle duplicate values in Python?
'''
Sets automatically eliminate duplicates. Adding duplicate values to a set has no effect.
code :
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

'''

In [ ]:
# 13. Describe a scenario where using a tuple would be preferable over a list.
'''
Use tuples when the data should not be modified, such as representing coordinates or configuration settings:
coordinates = (42.3601, -71.0589)
'''

In [ ]:
# 14. How does the “in” keyword work differently for lists and dictionaries?
'''
List: Checks if a value exists.
    my_list = [1, 2, 3]
    print(2 in my_list)  # Output: True
Dictionary: Checks if a key exists.
    my_dict = {'a': 1, 'b': 2, 'c': 3}
    print('b' in my_dict)  # Output: True

'''

In [ ]:
# 15. Can you modify the elements of a tuple? Explain why or why not.
'''
No, tuples are immutable. Elements cannot be modified, added, or removed after creation.
'''

In [ ]:
# 16. What is a nested dictionary, and give an example of its use case.
'''
A nested dictionary is a dictionary within a dictionary.
Example: Storing student information.
     students = {
    "Alice": {"age": 20, "grades": [85, 90]},
    "Bob": {"age": 22, "grades": [75, 80]}
}

'''

In [ ]:
# 17. Describe the time complexity of accessing elements in a dictionary.
'''
Accessing elements in a dictionary has an average time complexity of O(1) due to hash table implementation.
'''

In [ ]:
# 18. In what situations are lists preferred over dictionaries?
'''
Lists are preferred when:
 -The order of elements is crucial.
 -Sequential processing or indexing is required.
'''

In [ ]:
# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
'''
Dictionaries were unordered in older Python versions (before 3.7).
The order of key insertion wasn't preserved, but retrieval is based on key-value pairs, not positions.
'''

In [ ]:
# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
'''
List: Access by index
    my_list = [10, 20, 30]
    print(my_list[1])  # Output: 20

Dictionary: Access by key.
    my_dict = {'a': 10, 'b': 20}
    print(my_dict['b'])  # Output: 20
'''

# PRACTICAL QUESTIONS

In [4]:
#1. Write a code to create a string with your name and print it

name = "Soumik Nayak"
print(name)

Soumik Nayak

In [5]:
# 2. # Write a code to find the length of the string "Hello World"
string = "Hello World"
length = len(string)
print(length)

11

In [6]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

In [7]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [8]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
replaced = string.replace("apple", "orange")
print(replaced)

I like orange

In [9]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [13]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [14]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [15]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [16]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print(count_of_2)

3

In [17]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [18]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
fruits = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in fruits
print(is_banana_present)

True

In [19]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [21]:
  #18. Write a code to create a tuple with the elements 10, 20, 30 and print it
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [22]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [23]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print(count_of_2)

3

In [24]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [25]:
#22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
fruits = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in fruits
print(is_banana_present)

True

In [26]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [27]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}